.container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow-x: hidden
}
.formBox{
    width: 70%;
    height: 70%;
    margin-bottom: 10%;
    border: solid #D8D8D8 1px;
    border-radius: 20px;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3);
}
.boxLine{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 70px;
}
.line{
    width: 90%;
    height: 1px;
    background-color: #B7B7B7;
}
.boxTitle{
    width: 100%;
    display: flex;
    padding-left: 50px;
}
.title{
    font-family: "Poppins";
    font-weight: bold;
    font-size: 28px;
}
.formulario{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 8%;
}
.label{
    font-family: "Roboto";
    font-weight:600;
}
.iptNome{
    width: 80%;
}
.inptBox{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.labelBox{
    display: flex;
    width: 80%;
}
.reBox{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}
.conjunBox{
    width: 25%;
}
.itBox{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.button{
    background-color: #1DA9CF !important;
    width: 25% !important;
}
.button:hover{
    background-color: #7bd9f3 !important;
}

@media (max-width: 768px) {
  .formBox {
    width: 90%;
    height: auto;
    margin-bottom: 5%;
  }

  .formulario {
    gap: 20px;
  }

  .reBox, .itBox {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .button {
    width: 100% !important;
    margin-bottom: 10px;
  }
}